<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer&contact.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <!--début du footer-->
    <section class="container-project">
        <div class="container">
          <div class="row-footer">
            <div class="col">
              <div class="">
                <div class="">
                  <h3 class="title-footer two">Become a Real Estate Agent</h3>
                  <p class="mt-3 pr-lg-5">We only work with the best companies around the globe.</p>
                </div>
              </div>
            </div>
            <div class="">
              <button href="#get" class="btn btn-orange">Join Now 
                <i class="fa fa-arrow-right ml-3"></i></button>
            </div>
          </div>
        </div>
      </section>
      <!-- footer17 -->
      <section class="footer-17">
        <div class="footer17_sur py-5">
          <div class="container py-lg-5 py-md-4">
            <div class="footer17-top">
              <div class="">
                <h6>Contact Us</h6>
                <p>Lorem ipsum dolor sit amet elit. Velit beatae ullam dolore.</p>
                <ul>
                  <li><a href="">exemple@email.com</a></li>
                  <li><a href="tel:+(21) 255 989 8088">+(21) 255 989 8088</a></li>
                </ul>
                <ul class="footers-17_social">
                  <li><a href="#url" class="social-bg"><span class="fa-brands fa-twitter"></span></a></li>
                  <li><a href="#url" class="social-bg"><span class="fa-brands fa-facebook"></span></a></li>
                  <li><a href="#url" class="social-bg"><span class="fa-brands fa-linkedin"></span></a></li>
                  <li><a href="#url" class="social-bg"><span class="fa-brands fa-instagram"></span></a></li>
                </ul>
              </div>
              <div class="footer17-top-left2_sur">
                <h6>Popular Searches</h6>
                <ul>
                  <li><a href="#features">Features</a></li>
                  <li><a href="#pricing">Offices for Rent</a></li>
                  <li><a href="blog.html">Latest News</a></li>
                  <li><a href="#help">Offices for Buy</a></li>
                  <li><a href="#support">Support</a></li>
                </ul>
              </div>
              <div class="footer17-top-left3_sur">
                <h6>Quick links</h6>
                <ul>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="about.html#team">Join our team</a></li>
                  <li><a href="contact.html">Contact us</a></li>
                  <li><a href="#press">Press release</a></li>
                  <li><a href="#careers">Careers</a></li>
                </ul>
              </div>
              <div class="footer17-top-left4_sur">
                <h6>Subscribe To Our Newsletter</h6>
                <p>Enter your email and receive the latest news from us.</p>
                <div class="w3l-footer-subscribe mt-4">
                  <form action="#" class="subscribe" method="post">
                    <input type="email" name="email" placeholder="Your Email Address" required="">
                    <button><span class="fa-solid fa-paper-plane"></span></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright text-center">
            <div class="container">
              <p class="copy-footer-29">© 2020 Estates. All rights reserved | Designed by <a href="https://w3layouts.com/"
                  target="_blank">W3layouts</a></p>
            </div>
          </div>
</body>
</html>