/*--//contact--*/
/*--/footer--*/
.footer-17 .footer17_sur {
  background-color: var(--footer-bg);
}

.footer-17 .footer17_sur h6 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.footer-17 .footer17_sur h5 a {
  margin-top: 0;
  margin-bottom: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.footer-17 .footer17_sur p {
  color: #ccc;
}

.footer-17 .footer17_sur li {
  display: block;
  margin: 10px 0;
}

.footer-17 .footer17_sur li a {
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
}

.footer-17 .footer17_sur li a:hover {
  color: var(--primary-color);
}

.footer-17 .footer17-top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  grid-gap: 30px;
}

.footer-17 form {
  display: flex;
  position: relative;
}

.footer-17 .subscribe input[type="email"] {
  padding: 15px 60px 15px 20px;
  font-size: 17px;
  line-height: 26px;
  border: 1px solid var(--bg-border);
  background-color: var(--bg-color);
  outline: none;
  width: 100%;
  color: var(--font-color);
  border-radius: 6px;
}

.footer-17 .subscribe button {
  text-align: center;
  background: var(--primary-color);
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  padding: 0px 0px;
  right: 16px;
  top: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  line-height: 5px;
}

.footer-17 .footer17-top-left5_sur a {
  display: inline-block;
}

.footer-17 .footer17-top-left1_sur a {
  color: #777;
  display: inline-block;
  font-size: 16px;
}

.footer-17 .footer17-top-left1_sur a:hover {
  color: #ccc;
}

.footer-17 ul.footers-17_social li {
  display: inline-block;
  margin: 0;
}

.footer-17 ul.footers-17_social {
  margin-top: 25px;
}

.footer-17 ul.footers-17_social li a {
  margin: 0;
}

.footer-17 ul.footers-17_social li a span.fa {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
  background: #fff;
  color: var(--primary-color);
}

.footer-17 ul.footers-17_social li {
  margin-right: 5px;
}

.footer-17 ul.footers-17_social li a span.fa:hover {
  background: var(--primary-color);
  color: #fff;
  transition: 0.3s ease-in-out;
}

.copyright {
  border-top: 1px solid rgb(34 43 68 / 49%);
  padding-top: 2em;
  margin-top: 1em;
}

/* //footer-17 */