
/*--/contact--*/
.contact-grids {
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 30px;
  }
  
  .contact-left {
    padding-right: 28px;
  }
  
  .contact-left h4 {
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 24px;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .contact-grids input,
  .contact-grids textarea {
    width: 100%;
    color: var(--font-color);
    background: var(--bg-color);
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
    padding: 15px 25px;
    border: 1px solid var(--border-color-light);
    outline: none;
    margin-bottom: 16px;
    border-radius: var(--border-radius);
  }
  
  .cont-left.text-center span.fa {
    color: var(--blue-color-1);
    font-size: 20px;
    margin-top: 3px;
  }
  
  .contact-grids textarea {
    height: 120px;
    margin: 0 0 20px 0;
  }
  
  .contact-grids input:focus,
  .contact-grids textarea:focus {
    border: 1px solid var(--primary-color);
  }
  
  .cont-top {
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 20px;
  }
  
  .cont-details p,
  .cont-details p a {
    font-style: normal;
    font-weight: normal;
    /* font-size: 20px; */
    line-height: 28px;
    margin-top: 3px;
    color: var(--font-color);
  }
  
  .cont-details p a:hover {
    color: var(--primary-color);
  }
  
  .margin-up {
    margin-top: 3rem;
  }
  
  .cont-details h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .map-iframe iframe {
    -webkit-filter: var(--iframe-filter);
    -moz-filter: var(--iframe-filter);
    -ms-filter: var(--iframe-filter);
    -o-filter: var(--iframe-filter);
    filter: var(--iframe-filter);
  }
  
  .contact-right {
    padding-left: 28px;
    background: var(--bg-grey);
    padding: 60px 40px;
    border-radius: var(--border-radius-full);
  }
  
  @media (max-width: 992px) {
    .contact-grids {
      grid-template-columns: 1fr;
    }
  
  }
  
  @media (max-width: 736px) {
    .margin-up {
      margin-top: 2rem;
    }
  
    .contact-right {
      padding:30px 0px;
    }
  }
  
  @media (max-width: 415px) {
    .cont-top {
      grid-column-gap: 10px;
    }
  
    .cont-details p,
    .cont-details p a {
      font-size: 17px;
    }
  
    .cont-details h6 {
      font-size: 20px;
    }
  
    .contact-right {
      padding: 20px 0;
    }
  
    .contact-grids input,
    .contact-grids textarea {
      padding: 15px 20px;
    }
  }
  
  /*--//contact--*/
  /*--/footer--*/
  .footer-17 .footer17_sur {
    background-color: var(--footer-bg);
  }
  
  .footer-17 .footer17_sur h6 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  .footer-17 .footer17_sur h5 a {
    margin-top: 0;
    margin-bottom: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
  }
  
  .footer-17 .footer17_sur p {
    color: #ccc;
  }
  
  .footer-17 .footer17_sur li {
    display: block;
    margin: 10px 0;
  }
  
  .footer-17 .footer17_sur li a {
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
  }
  
  .footer-17 .footer17_sur li a:hover {
    color: var(--primary-color);
  }
  
  .footer-17 .footer17-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    grid-gap: 30px;
  }
  
  .footer-17 form {
    display: flex;
    position: relative;
  }
  
  .footer-17 .subscribe input[type="email"] {
    padding: 15px 60px 15px 20px;
    font-size: 17px;
    line-height: 26px;
    border: 1px solid var(--bg-border);
    background-color: var(--bg-color);
    outline: none;
    width: 100%;
    color: var(--font-color);
    border-radius: 6px;
  }
  
  .footer-17 .subscribe button {
    text-align: center;
    background: var(--primary-color);
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    padding: 0px 0px;
    right: 16px;
    top: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 5px;
  }
  
  .footer-17 .footer17-top-left5_sur a {
    display: inline-block;
  }
  
  .footer-17 .footer17-top-left1_sur a {
    color: #777;
    display: inline-block;
    font-size: 16px;
  }
  
  .footer-17 .footer17-top-left1_sur a:hover {
    color: #ccc;
  }
  
  .footer-17 ul.footers-17_social li {
    display: inline-block;
    margin: 0;
  }
  
  .footer-17 ul.footers-17_social {
    margin-top: 25px;
  }
  
  .footer-17 ul.footers-17_social li a {
    margin: 0;
  }
  
  .footer-17 ul.footers-17_social li a span.fa {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    background: #fff;
    color: var(--primary-color);
  }
  
  .footer-17 ul.footers-17_social li {
    margin-right: 5px;
  }
  
  .footer-17 ul.footers-17_social li a span.fa:hover {
    background: var(--primary-color);
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  
  .copyright {
    border-top: 1px solid rgb(34 43 68 / 49%);
    padding-top: 2em;
    margin-top: 1em;
  }
  
  #movetop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    transition: 0.3s ease-out;
  }
  
  @media screen and (max-width: 992px) {
    .footer-17 .footer17_sur p {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .footer-17 .footer17_sur {
      padding: 50px 0;
    }
  
    .footer-17 .footer17-top {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 736px) {
    .footer-17 .footer17_sur h6 {
      font-size: 16px;
    }
    .footer-17 .footer17_sur li {
      margin: 5px 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer-17 .footer17-top {
      grid-template-columns:1fr;
  }
    .footer-17 .footer17_sur {
      padding: 40px 0;
    }
  
    .footer-17 .footer17_sur h5 a {
      font-size: 25px;
      line-height: 30px;
    }
  
    .footer-17 .footer17_sur li a {
      font-size: 17px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .footer-17 .footer17-top {
      grid-template-columns: 1fr;
    }
  
    .footer-17 .footer17-top-left4_sur {
      order: 3;
      grid-column: span 1;
    }
  }
  
  /* //footer-17 */