<header class="#">
    <div class="container">
      <nav class="#">
        <a class="" href="index.html">
          <img src="../assets/images/logo.png" alt="" class="img-fluid"><p>Estates</p> 
        </a>
  
        <div class="#" id="">
          <ul class="#">
            <li class="">
              <a class="#" href="index.html">Home</a>
            </li>
            <li class="#">
              <a class="#" href="about.html">About</a>
            </li>
            <li class="#">
              <a class="#" href="services.html">Services</a>
            </li>
            <li class="#">
              <a class="#" href="contact.html">Contact</a>
            </li>
            <li class="#">
              <!-- Barre de recherche -->
              <form class="#">
                <input type="search" class="search__input" name="search" placeholder="Search here.."  required="">
                <span class=""></span>
              </form>

              <!--Fin barre de recheche-->
            </li>

          </ul>
          <ul class="">
            <li class="">
              <a href="#btn" class="">Enquire Here</a>
            </li>
          </ul>
        </div>
        <!-- Bouton Lune -->
        <div class="mobile-position">
            <img src="" alt="">
        </div>
        <!-- Fin bouton Lune -->
      </nav>
    </div>
  </header>