<header>
  <div class="container">
      <nav class="navbar m-auto">
          <!-- Logo du site -->
          <div class="logo">
              <a href="index.html">
                  <img src="assets/images/Logo.png" alt="Estates Logo">
              </a>
          </div>
          
          <!-- Menu de navigation -->
          <div id="nav-menu" class="nav-menu">
              <ul class="nav-list">
                  <!-- Liens vers les pages principales -->
                  <li class="nav-item"><a href="index.html">Home</a></li>
                  <li class="nav-item"><a href="about.html">About</a></li>
                  <li class="nav-item"><a href="services.html">Services</a></li>
                  <li class="nav-item"><a href="contact.html">Contact</a></li>
                  
                  <!-- Barre de recherche -->
                  <li>
                      <form class="search-bar">
                          <input type="search" name="search" placeholder="Search here.." required>
                          <span class="search-icon"></span>
                      </form>
                  </li>
              </ul>
              
              <!-- Bouton d'enquête -->
              <ul class="nav-list">
                  <li class="nav-item">
                      <a href="#btn" class="btn-enquire">Enquire Here</a>
                  </li>
              </ul>
          </div>
          
          <!-- Icône pour activer le mode nuit -->
          <div class="theme-toggle">
              <img src="assets/Images/Moon Icon.png" alt="Night Mode">
          </div>
      </nav>
  </div>
</header>