 /* Variables CSS globales pour une meilleure maintenabilité */
 :root {
    /* Couleurs */
    --primary-color: #fb5607;
    --blue-color-1: #3a86ff;
    --blue-color-2: #002766;
    --dark-color: #121725;
    --green-color: #7bd88a;
    --font-color: #6c7a87;
    --bg-color: #fff;
    --heading-color: #0b2238;
    --border-radius: 8px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #0b2238;
    --dropdown-color: #fff;
    --bg-grey: #f7f7f7;
    --footer-bg: #121725;
    --card-bg: #fff;
    
    /* Tailles de police */
    --font-size-h1: 36px;
    --font-size-h2: 30px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    
    /*Police */
    --font-family: 'Poppins', sans-serif;
    
}

/* Styles de base */
*{
    /* Applique la boîte de bordure à tous les éléments pour inclure le padding et la bordure dans la largeur et la hauteur totales */
    box-sizing: border-box;
    /* Réinitialise la marge par défaut de tous les éléments */
    margin: 0;
    /* Réinitialise le padding par défaut de tous les éléments */
    padding: 0;
    /* Définit la police par défaut pour tous les éléments */
    font-family: var(--font-family);
}

/* Styles des textes */

h1, 
h2, 
h3, 
h4, 
h5 {
    line-height: 1.2;
}
h1 {
    font-size: var(--font-size-h1);
    font-weight: 600;
    color: var(--heading-color);
}
h2{
    color: var(--heading-color);
    font-size: var(--font-size-h2);
    font-weight: 600;
}
h3{
    color: var(--blue-color-1);
    font-size: var(--font-size-h3);
    font-weight: 600;
    text-transform: uppercase;
}
h4{
    font-weight: 600;
    font-size: 20px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}

/* === Comportement par defaut du contenu === */

.w-50{
    width: 50%;
}

.w-90{
    width: 90%;
}

.w-100{
    width: 100%;
}
.p-top{
    padding-top: 5px;
}
.padding-top20{
    padding-top: 20px;
}
main{
    width: 100%;
}
.container {
    padding-top: 60px;
    padding-bottom: 30px;
}
.row , .carousel-container {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 10px;
}
.card{
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}
.img-fluid{
    width: 95%;
    height: auto;
}
.img-fluid-2{
    width: 80%;
}
.bg-bottom{
    background-position: left bottom;
}
.bg-grey{
    background-color: var(--bg-grey);
}
.m-10{
    margin: 10px;
}
.p-20{
    padding: 20px 0px 20px;
}
.m-auto{
    margin: auto;
}
.icon-center{
    display: block; 
    margin: auto;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.cl-org {
    color: var(--primary-color);
}
img {
    vertical-align: middle;
    border-style: none;
}
/* Bouton */
.btn{
    padding: 20px 46px;
    border-radius: 35px;
    font-weight: bold;
    transition: 0.3s ease;
    justify-content: center;
}
.btn-orange{
    background-color: var(--primary-color);
    color: #fff;
}
.btn-blue{
    color:var(--blue-color-2);
    border: 2px solid var(--blue-color-2);
}
.group-btn{
    padding: 60px 0px 0px;
    gap: 30px;
    justify-content: center;
}
.bold-icon{
    -webkit-text-stroke: 2px;
    padding: 0px 8px 0px;
}
.icon-blue{
    color: var(--blue-color-1);
}

/* Titre et contenu */
.titre-h1{
    margin-bottom:0px;
    width: 574px;
    height: 120px;
}
.content-gray{
    color: var(--font-color);
    font-size: 16px;
}
.soustitre-h3{
    padding-bottom: 4px;
}

/* === Card === */
.card-gap20 ,.features-grid{
    display: inline-flex;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
}

.card-padding ,.feature{
    padding: 44px 25px 44px;
}
.card{
    width: 407px;
}

.img-card{
    width: 407px;
    height: 235px;
}
.box-gap20{
    display: inline-flex;
    gap: 20px;
}

/* === Carousel === */
.carousel-container{
    padding-top: 30px;
    width: 100%;
    z-index: 1;
    display: inline-flex;
    position: relative;
}

.carousel-track{
    display: flex;
    gap: 30px;
    position: relative;
    overflow: hidden;
}
.carousel-dots{
    margin-top: 0px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
}
.dot{
    zoom: 4;
}
.icon-inline{
    display: inline-flex;
    gap: 10px;
}
/*==Section Blog==*/
/* .row-blog {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.blog-main{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.blog-content{
    display: flex;
} */

/*== BLOG==*/
.article-img{
    border-radius: 8px;
    width: 336px;
    height: 223px;
}
/*== Why Choose Us ==*/
.features-grid{
    padding: 40px 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: var(--bg-color);
}
.gauche{
    padding-right: 15px;
    padding-left: 15px;
}
.feature-icon{
    background: rgba(85, 107, 240, 0.08);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}
.position-icon{
    line-height: 70px;
    margin: 0;
}
.blue-icon{
    color: var(--blue-color-1);
}
.pink-icon{
    color:#ff006e;
}
.green-icon{
    color: var(--green-color);
}
.font-icon{
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
}
/*== Section des statistiques ==*/

.statistics {
    border-top: 1px solid #eee;
    padding-top: 50px;
    padding-bottom: 50px;
}
.justify-content-center {
    justify-content: center !important;
}

.col-lg-3 {
    flex: 0 0 20%;
    max-width: 25%;
}
.statistic-value{
    font-size: 50px;
    color: var(--dark-color);
    font-weight: 600;
}
.mb-0{
    margin-bottom: 0px !important;
}
.statistic-label{
    font-size: 18px;
    color: var(--font-color);
    font-weight: 600;
}
.titre-card{
    color: black;
    font-size: 22px;
    font-weight: 600;
}
.titre-bleu-bold{
    color: var(--blue-color-1);
    font-size: 18px;
    font-weight: 600;
    line-height: auto;
    padding: 5px 0 5px;
}
/*== TESTIMONIAL ==*/

.Portrait{
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.icone-quote{
    font-size: 50px;
    color: var(--primary-color);
    display: block;
    font-family: initial;
}
q{
    font-size: 24px;
    line-height: 36px;
    color: var(--heading-color);
    font-weight: 600;
}
.testimonial-text{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 27px;
    color: var(--font-color);
}

.auteur{
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    color: var(--heading-color);
}
.author-role{
    font-size: 18px;
    font-style: normal;
    margin-bottom: 0;
    opacity: 0.8;
    margin-top: 4px;
    color: var(--font-color);
    
}
/*== FAQS ==*/
.accordion{
    margin-top: 3rem !important;
   
}
.list{
    width: 100%;
}
.space{
    margin-top: 1rem !important;
}
.item{
    padding: 25px 40px 25px 20px;
    margin: 0 0 15px 0;
    border-radius: 6px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color-light);
}
input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
}
