/*=== Menu === */

/* === Barre de navigation === */
.navbar {
    width: 90%;
    display: flex;  /* Alignement horizontal des éléments */
    align-items: center; /* Centrage vertical */
    padding: 10px 0; /* Espacement interne */
    flex-wrap: wrap; /* Permet le retour à la ligne des éléments */
    justify-content: space-between; /* justify-content: space-between; Espacement entre les éléments */
}

/* === Menu de navigation === */
.nav-menu {
    display: flex; /* Alignement horizontal des éléments */
    align-items: center;
    flex-basis: auto;
}

.nav-list {
    list-style: none; /* Suppression des puces de liste */
    display: flex; /* Alignement horizontal des éléments */
    gap: 30px; /* Espacement entre les éléments */
    flex-grow: 1;
    align-items: center;
}

.nav-item a {
    text-decoration: none; /* Suppression du soulignement */
    color: var(--font-color);  /* Couleur du texte */
    font-size: 16px;
    transition: color 0.3s ease; /* Animation de changement de couleur */
}

.nav-item a:hover {
    color: var(--primary-color); /* Changement de couleur au survol */
}

/* === Barre de recherche === */
.search-bar {
    position: relative;
}

.search-bar input {
    padding: 10px 40px 10px 15px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 25px; /* Coins arrondis */
    outline: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('assets/Images/search-icon.png') no-repeat center;
    background-size: cover;
}

/* === Bouton "Enquire Here" === */
.btn-style {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    border-radius: 25px;
}
/* .btn-enquire {
    background-color: var(--primary-color);
    color: #fcf9f9;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
} */
 .btn-color-white {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    border-radius: 25px;
 }
.btn-enquire:hover {
    background-color:#fc9363; /* Changement de couleur au survol */
}
.btn-left{
    margin-left: 60px;
}

/* === Icône de mode nuit === */
.theme-toggle img {
    max-width: 30px;
    cursor: pointer;
}