body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    position: fixed;
    background-color: #ffffff;
    width: 1440px;

}  
/*=== Menu === */

/* === Barre de navigation === */
.navbar {
    width: 90%;
    display: flex;  /* Alignement horizontal des éléments */
    align-items: center; /* Centrage vertical */
    padding: 10px 0; /* Espacement interne */
    flex-wrap: wrap; /* Permet le retour à la ligne des éléments */
    justify-content: space-between; /* justify-content: space-between; Espacement entre les éléments */
}

/* === Menu de navigation === */
.nav-menu {
    display: flex; /* Alignement horizontal des éléments */
    align-items: center;
    flex-basis: auto;
}

.nav-list {
    list-style: none; /* Suppression des puces de liste */
    display: flex; /* Alignement horizontal des éléments */
    gap: 30px; /* Espacement entre les éléments */
    flex-grow: 1;
    align-items: center;
}

.nav-item a {
    text-decoration: none; /* Suppression du soulignement */
    color: var(--font-color);  /* Couleur du texte */
    font-size: 16px;
    transition: color 0.3s ease; /* Animation de changement de couleur */
}

.nav-item a:hover {
    color: var(--primary-color); /* Changement de couleur au survol */
}

/* === Barre de recherche === */
.search-bar {
    position: relative;
}

.search-bar input {
    padding: 10px 40px 10px 15px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 25px; /* Coins arrondis */
    outline: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('assets/Images/search-icon.png') no-repeat center;
    background-size: cover;
}

/* === Bouton "Enquire Here" === */
.btn-style {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    border-radius: 25px;
}
/* .btn-enquire {
    background-color: var(--primary-color);
    color: #fcf9f9;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
} */
 .btn-color-white {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    border-radius: 25px;
 }
.btn-enquire:hover {
    background-color:#fc9363; /* Changement de couleur au survol */
}
.btn-left{
    margin-left: 60px;
}

/* === Icône de mode nuit === */
.theme-toggle img {
    max-width: 30px;
    cursor: pointer;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1440px;
    height: 922px;
}

/* section 1 */
.section1{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.partie1-section1{
    margin-left: 75px;
    margin-bottom: 35px;
} 

.partie1-section1 h6{
    font-size: 16px;
    color: #007bff;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 153px;
    font-weight: bold;
}

.partie1-section1 h5{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0;
    margin-right: 490px;
    margin-left: 153px;
    line-height: 1.4;
    color: #000000;
}

.partie2-section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    width: 1440px;
    height: 508px;
    gap: 60px;
    margin-top: -60px;
}

.bloc1-section1{
    display: flex;
    margin-left: 136px;
}

.bloc1-section1 img{
    width: 363px;
    height: 245px;
    border-radius: 10px;
    margin-bottom: 90px;
}


.bloc2-section1{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    background-color: brown;
    width: 728px;
    height: 508;
}

.top-image{
    display: flex;
    gap: 50px;
}

.top-image #img1{
    height: 190px;
    width: 280px;
    border-radius: 8px;
    padding-top: 0px;

}

.top-image #img2{
    height: 150px;
    width: 220px;
    border-radius: 8px;
    margin-top: 15px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
    justify-content: center;
}

.description p{
    width: 710px;
    height: 87px;
    font-size: 18px;
    padding-top: 20px;
    color: #666;
    line-height: 1.6;
}

#read-more{
    background-color: #FB5607 ;
    height: 45px;
    width: 160px;
    border-radius: 50px;
    color: #fff;
    border: none;
    text-align: center;

}


/* fin section 1 */

/* debut section 2 */
.section2{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 1285px;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.partie1-section2{
    text-align: center;
    line-height: 10px;
    height: auto;
}

.partie1-section2 h1{
    font-size: 38px;
    font-weight: bold;
}

.partie1-section2 h3{
    font-size: 25px;
    color: #007bff;
    margin-top: 120px;
}

.partie2-section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
    column-gap: 40px;
    line-height: 2px;
    font-family: Arial, sans-serif;
}

.partie2-section2 img{
    height: 310px;
    width: 470px;
    object-fit: cover;
    border-radius: 8px;
}

.partie2-section2 h6{
    font-size: 12px;
    color: gray;
    margin-left: 24px;
    margin-top: 30px;
}

.partie2-section2 h4{
    font-size: 24px;
    margin-left: 24px;
}

.button{
    color: white;
    background-color: #FB5607;
    height: 45px;
    width: 190px;
    border-radius: 50px;
    color: aliceblue;
    border: none;
    text-align: center;
    margin-bottom: 85px;
    margin-top: 10px;
    cursor: pointer
}



.section3{
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    height: 800px;
    padding-top: 30px;
    padding-bottom: 60px;
    
}

.partie1-section3 {
    text-align: center;
    line-height: 1.4;
    
}

.partie1-section3 h6{
    font-size: 20px;
    margin-bottom: 5px;
    color: #007bff;
}

.partie1-section3 p{
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
}

.partie2-section3{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.bloc-section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 140px;
    width: 300px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin: 0;

}

.icon-cercle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 50px;
    background-color: #FB5607;
    border-radius: 50%;
}

.icon-text{
    display: flex;
    gap: 18px;
}


.icon-text h1{
    font-size: 19px;
    margin-bottom: 8px;
}

.icon-text p{
    font-size: 13px ;
    color: rgb(71, 69, 69);
    margin-top: 0;
    margin-right: 24px; 
    line-height: 1.5;
}

.icon-text img{
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 10px;
}

.section4{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
}


.partie1-section4 img{
    height: 240px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 8px;
    margin-top: 120px;
    margin-left: 160px;
}

.partie2-section4{
    max-width: 600px;
    margin-right: 70px;
}

.bloc1-section4 h6{
    font-size: 14px;
    color: #007bff;
    margin-bottom: 10px;
}

.bloc1-section4 h3{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.4;
    margin-top: 10px;
}

.bloc1-section4 p{
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
    margin-right: 80px;
}

.bloc2-section4{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.div1{
    background-color: #ffffff;
    text-align: left;
    padding: 1px;
    border-radius: 8px;
    flex: 1 1 calc(50% - 15px);
}

.div1 h1{
    font-size: 18px;
    margin-bottom: 10px;
}

.div1 p{
    font-size: 14px;
    color: #666;
}

/*--//contact--*/

/*--/footer--*/


.container-project {
    border-bottom: 1px solid rgb(34 43 68 / 49%);
    background: var(--footer-bg);
  }
  
  .container-project h3.title-big {
    color: #fff;
  }
  
  .container-project p {
    color: #eee;
  }
  
  .col{
    position: relative;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .title-footer{
    font-size: 34px;
    line-height: 44px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .two {
    color: #fff;
  }
  .mt-3,
  .my-3 {
    margin-top: 1rem !important;
  }
  .pr-lg-5,
    .px-lg-5 {
      padding-right: 3rem !important;
    }
  .row-footer {
    display: flex;
  }
  /*-- //container --*/
  .btn-style {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius-full);
  }
  
  .btn-style.btn-white {
    background: #fff;
    color: var(--primary-color);
  }
  
  .btn-style.btn-white:hover {
    background: var(--primary-color);
    color: #fff;
  }
  
  .transparent-btn {
    background: rgba(255, 255, 255, 0.25);
  }
  /*Bouton*/
  
  
  /* Fin Bouton */
  .footer-17 .footer17_sur {
    background-color: var(--footer-bg);
  }
  
  .footer-17 .footer17_sur h6 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  .footer-17 .footer17_sur h5 a {
    margin-top: 0;
    margin-bottom: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
  }
  
  .footer-17 .footer17_sur p {
    color: #ccc;
  }
  
  .footer-17 .footer17_sur li {
    display: block;
    margin: 10px 0;
  }
  
  .footer-17 .footer17_sur li a {
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
  }
  
  .footer-17 .footer17_sur li a:hover {
    color: var(--primary-color);
  }
  
  .footer-17 .footer17-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    grid-gap: 30px;
  }
  
  .footer-17 form {
    display: flex;
    position: relative;
  }
  
  .footer-17 .subscribe input[type="email"] {
    padding: 15px 60px 15px 20px;
    font-size: 17px;
    line-height: 26px;
    border: 1px solid var(--bg-border);
    background-color: var(--bg-color);
    outline: none;
    width: 100%;
    color: var(--font-color);
    border-radius: 6px;
  }
  
  .footer-17 .subscribe button {
    text-align: center;
    background: var(--primary-color);
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    padding: 0px 0px;
    right: 16px;
    top: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 5px;
  }
  
  .footer-17 .footer17-top-left5_sur a {
    display: inline-block;
  }
  
  .footer-17 .footer17-top-left1_sur a {
    color: #777;
    display: inline-block;
    font-size: 16px;
  }
  
  .footer-17 .footer17-top-left1_sur a:hover {
    color: #ccc;
  }
  
  .footer-17 ul.footers-17_social li {
    display: inline-block;
    margin: 0;
  }
  
  .footer-17 ul.footers-17_social {
    margin-top: 25px;
  }
  
  .footer-17 ul.footers-17_social li a {
    margin: 0;
  }
  
  .footer-17 ul.footers-17_social li a span.fa {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    background: #fff;
    color: var(--primary-color);
  }
  
  .footer-17 ul.footers-17_social li {
    margin-right: 5px;
  }
  
  .footer-17 ul.footers-17_social li a span.fa:hover {
    background: var(--primary-color);
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  .social a.twitter {
    background: #1da1f2;
  }
  
  .social a.twitter span {
    color: #fff;
  }
  .copyright {
    border-top: 1px solid rgb(34 43 68 / 49%);
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  /* //footer*/