 /* Variables CSS globales pour une meilleure maintenabilité */
 :root {
    /* Couleurs */
    --primary-color: #fb5607;
    --blue-color-1: #3a86ff;
    --blue-color-2: #002766;
    --dark-color: #121725;
    --green-color: #7bd88a;
    --font-color: #6c7a87;
    --bg-color: #fff;
    --heading-color: #0b2238;
    --border-radius: 8px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #0b2238;
    --dropdown-color: #fff;
    --bg-grey: #f7f7f7;
    --footer-bg: #121725;
    --card-bg: #fff;

    /* Tailles de police */

}

/* Styles de base */
*{
    /* Applique la boîte de bordure à tous les éléments pour inclure le padding et la bordure dans la largeur et la hauteur totales */
    box-sizing: border-box;
    /* Réinitialise la marge par défaut de tous les éléments */
    margin: 0;
    /* Réinitialise le padding par défaut de tous les éléments */
    padding: 0;
    /* Définit la police par défaut pour tous les éléments */
    font-family: 'Poppins', sans-serif;
    
}

body {
    width: min(1440px, 100%); /* Responsive : max 1440px ou 100% de la largeur */
}

section{
background-color: var(--bg-grey);
}